name: Deploy docs

on:
    push:
        branches:
            - main

permissions:
    contents: write

jobs:
    deploy-docs:
        runs-on: ubuntu-latest
        steps:
            - name: Set up Python
              uses: actions/setup-python@v5
              with:
                python-version: "3.13"
            - name: Checkout repository
              uses: actions/checkout@v3
              with: 
                fetch-depth: 0
            - name: Check commit message format
              id: commit-check
              run: |
                commit_message=$(git log -1 --pretty=%B)
                if [[ "$commit_message" =~ ^Update\ \'compiled_docs\'\ file\ :page_facing_up:$ ]]; then
                  echo "Skipping steps"
                  echo "::set-output name=skip_steps::true"
                fi
                
            - name: Setup docs
              if: steps.commit-check.outputs.skip_steps != 'true'
              uses: ./.github/actions/setup-docs
            - name: Config user credentials
              if: steps.commit-check.outputs.skip_steps != 'true'
              run: |
                git config --local user.email "${{ secrets.ETENDOBOT_EMAIL }}"
                git config --local user.name "${{ secrets.ETENDOBOT_NAME }}"
            - name: Deploy docs
              if: steps.commit-check.outputs.skip_steps != 'true'
              run: mkdocs gh-deploy --force
            - name: Run Algolia Script
              if: steps.commit-check.outputs.skip_steps != 'true'
              run: python algolia.py ${{ secrets.ALGOLIA_WRITE_INDEX_KEY }} --app-id=XMLZ1ZZEY7 --index-name=etendo_docs_index2 --site-url=https://docs.etendo.software
